ALIPAY_APP_ID=
ALIPAY_PRIVATE_KEY=
ALIPAY_PUBLIC_KEY=
ALIPAY_SELLER_ID=
ALIPAY_GATEWAY_URL=https://openapi-sandbox.dl.alipaydev.com/gateway.do
ALIPAY_NOTIFY_URL=http://localhost:8080/api/order/pay/alipay/notify
ALIPAY_RETURN_URL=http://localhost:8080/api/order/pay/alipay/return
ALIPAY_FRONTEND_RETURN_BASE_URL=http://localhost:10086
ALIPAY_WEAPP_DEBUG_BRIDGE_BASE_URL=http://localhost:8080/api
